@yellow: #F4CB02;
@ltyellow: lighten(@yellow, 2%);
@dkyellow: darken(@yellow, 2%);
@trsblack: fade(black, 55%);
@red: #BF213D;
@blue: #0D69A5;
@ltblue: #00BEC6;
@offwhite: #F8F6F0;
@dkryellow: #D19700;
@Grey: #A5ABAD;
@LtGrey: #A5ABAD;
@DkGrey: #4c5058;

@font-face {
  font-family: "Hit The Road";
  src: local("New"),
       local("New"),
       url(hit-the-road.ttf);
  font-weight: bold;
}

#app {
  height: 100%;
}

body {
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
  height: 100%;

	font-family: "Hit The Road";

  .quizPage {
    width: 80%;
    margin: 0 auto;
    .prompt {
      font-size: 1.75em;
      font-style: italic;
      text-align: center;
      padding-top: 2%;
    }

    form {
      margin-left: 44%;
    }

    input {
      margin-top: 1.5em;
      width: 10rem;
      border: 1px solid grey;
      border-radius: 0.25em;
      text-align: center;
      margin-bottom: 2%;
    }
    button {
      color: @offwhite;
			border: solid 1px @blue;
			padding: 5px;
			border-radius: 10px;
			background-color: @blue;
			font-weight: lighter;
      margin-left: 2.5rem;

    }
  }

	.header {
		background-image: url('background.png');
		background-position: center center fixed;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
    width: 100%;
		overflow: auto;

    .start {
      color: @offwhite;
      text-decoration: none;
      border: solid 1px @blue;
      padding: 10px;
      border-radius: 10px;
      background-color: @blue;
      font-weight: lighter;
      margin-left: 45%;
    }
	}
	.header2 {
		background-image: url('background.png');
		background-position: center center fixed;
		background-repeat: no-repeat;
		background-size: cover;
		height: 12rem;
    width: 100%;
		overflow: auto;

    .start {
      display: none;
    }
	}

	.title {
		width: 100%;
		height: 76px;
		margin-top: 90px;
    margin-bottom: 550px;

		.wolf {
			display: block;
			margin-left: 470px;
			margin-top: -75px;
		}
		.rosetta {
			margin-left: 5%;
			margin-top: 0px;
			margin-bottom: 0px;
			font-size: 3.8em;
			height: 76px;
			display: inline-block;
			font-weight: lighter;
		}
		.throne {
			display: inline-block;
		}
		.course {
			margin-top: 0;
			margin-bottom: 0;
			display: inline-block;
			padding-left: 50%;
			width: 160px;

			.dothraki {
				font-size: 1.8em;
				margin-top: 0;
				margin-bottom: 0;
				text-align: center;
			}
			hr {
				margin-top: 0;
				margin-bottom: 0;
				color: black;
				border: solid 1px black;
				border-color: black;
				border-bottom-color: black;
				border-top-color: black;
			}
			h3 {
				margin-top: 0;
				margin-bottom: 0;
				text-align: center;
			}
		}
	}
	.landingPage {
		background-color: @yellow;
		width: 80%;
		height: 850px;
    margin: 0 auto;
	}
}
